.mainBlockCard{
    margin-top: 2rem;
    width: 98%;
    height: 100vh;

}

.nameBlock{
    border: 1px solid lightgray;
    height: 20vh;
    margin-left: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
}

.nameAndPhoto{
    position: relative;
    display: inline-block;
    float: right;
    top: 20%;
    margin-right: 3rem;

}

.profImage{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.nameBox{
    direction: rtl;
    display: block;
}

.headerTextPrimary{
    display: block;
    font-size: 5vh;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 2rem;
    text-align: right;
}

.headerTextSub{
    display: block;
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    margin-top: 0.5rem;
    text-align: right;
}

.buttonNav{    
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F4F4F4;
    color: #686868;
    border: 1px solid lightgray;
    cursor: pointer;
    direction: rtl;
    float: left;
}

.buttonNav:hover{    
    background-color: #EAEAEA; 
}


.navListBox{
    height: 60vh;
    width: 15%;
    margin-top: 2rem;
    float: right;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
}

.dataBox{
    width: 83%;
    margin-top: 2rem;
    margin-left: 1.5rem;
    float: left;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
}

.personalDataBox{
    width: 60%;
    float: right;
    margin-right: 3rem;
    direction: rtl;
    text-align: right;
    margin-top: 3rem;
}

.headLinePD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
    margin-left: 2rem;
}

.contentPD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;

}

hr.borderLine{
    border-top: 1px solid #686868;
}

.academicFirstBox{
    width: 60%;
    float: right;
    margin-right: 3rem;
    direction: rtl;
    text-align: right;
    margin-top: 3rem;
}

.academicSecondBox{
    width: 90%;
    float: right;
    margin-right: 3rem;
    direction: rtl;
    margin-top: 1rem;
}

.buttonEdit{
    margin-right: 2rem;
    margin-left: 1rem;
}

.traceBox{
    border: 1px solid lightgray;
    margin-left: 1rem;
    width: 80%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
    float: right;
    text-align: right;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.tracingBox{
    margin-left: 1rem;
    width: 70%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
    float: right;
    text-align: right;
    padding: 2rem;
    margin-bottom: 0.5rem;
}

.dateAndTeacher{
    font-size: 2.5vh;
    text-align: right;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
}

.btnDel{
    float: left;
}

.addNewTrace{
    float: left;
    width: 28%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
    text-align: right;
    padding-top: 10rem;
    margin-bottom: 0.5rem;
}

.datePic{
    z-index: 100;
    text-align: right;
}

 .inpBox{
    display: inline;
    position: relative;
    display: block;
  }

  .checkBOxes{
    width: 60%;
    display: flex;
    justify-content: space-between;
    float: right;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .graphButtons{
    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
    margin-left: 40%;
  }