
  .formPage {
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: 0;
    position: absolute;
  }
  
  .formBox{
    border: 1px solid lightgray;
    margin-left: 1rem;
    width: 80%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
    margin-left: 10%;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    position: absolute;
    margin-bottom: 2rem;
  }

  .rightHeb{
      text-align: right;
      direction: rtl;
      float:right;
      margin-bottom: 2rem;
  }

  .formCont{
    width:59%;
    float: right;
    position: relative;
    display: block;
    align-content: right;
  }

  .miktzuutCont{
    width:35%;
    float: left;
    position: relative;
    display: block;
    align-content: left;
    margin-left: 2rem;
  }

  .headLinePD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
    margin-left: 2rem;
    text-align: right;
}

.inputB {
    position: relative;
    width: 50%;
    background-color: rgb(102, 102, 102, 0.6);
    border-radius: 2px;
    color: #fff;
  }
  
.inputB:focus{
    color: black;
  }

  .inpBox{
    display: inline;
    position: relative;
    display: block;
  }

  .courseButtons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }

  .newClassesBox{
    width: 35%;
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    display: block;
  }

  .newClassBox{
    width: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    float: left;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: #FFFDFD;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .headLinePD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
    margin-left: 2rem;
}

.contentPD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
}

.lineClass{
  float: right;
  display: inline-block;
  direction: rtl;
}

.deletButt{
  margin-top: 1rem;
  padding-top: 1rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
}

.profImageStud{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.profBox{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  direction: rtl;
  display: block;
  border: 1px solid lightgray;
  float: right;
  padding-right: 1rem;
  width: 90%;
  border-radius: 0.5rem;
  display: block;
  margin-bottom: 1rem;
}

.profLine{
  float: right;
  direction: rtl;
  display: inline-block;
}