
  .formPage {
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: 0;
    position: absolute;
  }
  
  .formBox{
    border: 1px solid lightgray;
    margin-left: 1rem;
    width: 60%;
    border-radius: 0.5rem;
    background-color: #FFFDFD;
    margin-left: 25%;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    position: absolute;
    margin-bottom: 2rem;
  }

  .rightHeb{
      text-align: right;
      direction: rtl;
      float:right;
      margin-bottom: 2rem;
  }

  .formCont{
    float: right;
    position: relative;
    display: block;
    align-content: right;
  }

  .headLinePD{
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    direction: rtl;
    color: #686868;
    margin-left: 2rem;
    text-align: right;
}

.inputB {
    position: relative;
    width: 50%;
    background-color: rgb(102, 102, 102, 0.6);
    border-radius: 2px;
    color: #fff;
  }
  
.inputB:focus{
    color: black;
  }

  .inpBox{
    display: inline;
    position: relative;
    display: block;
  }

  .courseButtons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }

  .try{
    width: 35%;
    height: 2rem;
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    display: block;
    border: 1px solid lightgray;
    background-color: #FFFDFD;
  }